@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,400;0,800;1,900&family=DM+Sans:wght@400;700&family=Fraunces:ital,opsz,wght@0,9..144,400;0,9..144,600;1,9..144,900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 16px;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: hsl(27, 66%, 92%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'DM Sans', sans-serif;
}

.card_desing{
    background-color: hsl(10, 79%, 65%);
    width: 23.125rem;
    height: 4.688rem;
    border-radius: 0.625rem;
    display: flex;
    justify-content: space-between;
    padding: 0.938rem;
    color: hsl(27, 66%, 92%);
}

.text_card h2{
    font-size: 1.25rem;
}

.text_card h4{
    font-size: 0.625rem;
}



.card2{
    background-color: hsl(33, 100%, 98%);
    width: 23.125rem;
    height: 21.875rem;
    margin-top: 0.938rem;
    border-radius: 0.625rem;
    padding: 0.938rem;
}

.bars{
    display: flex;
    justify-content: space-around;
    margin-top: 1.875rem;
    padding: 1.25rem 0.313rem;
    border-bottom: 0.094rem solid hsl(28, 10%, 53%)
}

.flexbars{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    
}

.valor{
    margin-bottom: 0.188rem;
    font-size: 0.625rem;
    color: hsl(27, 66%, 92%);
    background-color: hsl(25, 47%, 15%);
    padding: 0.125rem;
    border-radius: 0.25rem;
    visibility: hidden;
}

.b_text{
    font-size: 0.75rem;
    padding: 0.25rem;
    color: hsl(28, 10%, 53%);
}

.w_bar{
    width: 2.125rem;
    border-radius: 0.313rem;
}

.w_bar:hover{
    background-color:  #ff9b87;
    cursor: pointer;
}

.flexbars:hover .valor{
    visibility: visible;
    
}

.w_bar:active{
    background-color: #b4dfe5;

}
.h_bar1{
    height: 2.313rem;
    background-color: hsl(10, 79%, 65%);
}

.h_bar2{
    height: 4.25rem;
    background-color: hsl(10, 79%, 65%);
}

.h_bar3{
    height: 6.25rem;
    background-color: hsl(10, 79%, 65%);
}

.h_bar4{
    height: 3.75rem;
    background-color: hsl(10, 79%, 65%);
}

.h_bar5{
    height: 2.75rem;
    background-color: hsl(10, 79%, 65%);
}

.h_bar6{
    height: 5.313rem;
    background-color: hsl(10, 79%, 65%);
}

.h_bar7{
    height: 3.188rem;
    background-color: hsl(10, 79%, 65%);
}



.text_b{
    display: flex;
    justify-content: space-between;
    margin-top: 1.25rem;
}

.ttw{
    color: hsl(28, 10%, 53%);
    font-size: 0.813rem;
}

.price{
    font-size: 1.688rem;
    color: hsl(25, 47%, 15%);
    margin-top: 0.188rem;
}

.text_right{
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: end;
    
}

.text_right h5{
    font-size: 0.75rem;
    color: hsl(25, 47%, 15%);
}
.text_right h4{
    font-size: 0.625rem;
    color: hsl(28, 10%, 53%);
}

@media (min-widht: 375px) {
    html{
        font-size: 13px;
    }
}

@media (min-widht: 1440px) {
    html{
        font-size: 20px;
    }
}

